/* h1 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1240px;
  margin: 0 auto;
  padding: 30px;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 42px;
  font-weight: 600;
  color: rgb(12, 40, 99);
  margin-bottom: 20px;
} */

/* -------------------------------------- */

.link {
  display: inline-flex;
  padding: 20px;
  font-size: 18px;
  border: 1px solid black;
  text-decoration: none;
  border-radius: 8px;
  background-color: transparent;
  color: inherit;
  font-family: Arial, Helvetica, sans-serif;
  transition: all 0.3s;
}

.active {
  background-color: black;
  color: #fff;
}

.nav {
  display: flex;
  gap: 12px;
}
