/* .form {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  font-size: 24px;
  width: 400;
}

.field {
  display: block;
  min-width: 500px;
  padding: 10px 8px;
  border: 1px solid black;
  border-radius: 5px;
}

.submitBtn {
  border: none;
  margin: 0 auto;
  padding: 10px 20px;
  min-width: 140px;
  border-radius: 15px;
  background-color: #aeaeae;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.errorText {
  font-size: 14px;
  color: red;
  background-color: antiquewhite;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
} */

/* ===================================== */

.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 600px;
  padding: 30px 25px;
  margin-bottom: 15px;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
  background-color: rgba(172, 197, 250, 0.587);
}
.label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-span {
  font-family: Roboto, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(94, 95, 96);
  margin: 0;
  padding: 0;
}
.field {
  padding: 10px 15px;
  font-family: Roboto, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
}

.errorText {
  font-size: 14px;
  color: rgb(126, 26, 113);
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
