.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-family: Roboto, sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.link.active {
  color: #1976d2;
}
