.contact,
.contact-name,
.contact-phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact {
  justify-content: space-between;
}
/* .contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
} */

.contact-name,
.contact-phone {
  justify-content: start;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.contact-name {
  font-size: 22px;
  margin-bottom: 10px;
}
.contact-phone {
  font-size: 20px;
}

.contact-icon {
  color: rgb(10, 66, 186);
}
.btn {
  display: block;
  max-height: 50px;
  padding: 8px 20px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
  background-color: rgba(51, 108, 229, 0.54);
  color: rgb(12, 40, 99);
}
