.form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 15px;
  width: 368px;
  padding: 20px 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
  background-color: rgba(172, 197, 250, 0.587);
}
.form-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form-span {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
.field {
  padding: 4px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
}
.btn {
  display: block;
  max-width: 200px;
  max-height: 50px;
  padding: 8px 20px;
  margin: 0 auto;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid rgba(52, 104, 216, 0.876);
  border-radius: 10px;
  background-color: rgba(51, 108, 229, 0.54);
  color: rgb(12, 40, 99);
}
.error {
  font-size: 14px;
  color: rgb(126, 26, 113);
  background-color: transparent;
  border-radius: 5px;
  display: inline-block;
  padding: 5px;
}
