.contacts-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.contacts-item {
  width: 368px;
  padding: 20px 15px;
  border: 1px solid #3468d8df;
  border-radius: 10px;
  background-color: #acc5fa96;
}
